@import 'global';
@import url(//fonts.googleapis.com/css?family=Lato:700);
@import url(//fonts.googleapis.com/css?family=Permanent+Marker);

html{
  //background-image: linear-gradient(-137deg,#fdac96 0,#fdac95 1%,#fdae94 4%,#ffc784 48%,#008aae 100%);
  min-height: 100%;
}

body {
  margin:0;
  font-family:'Lato', sans-serif;
  text-align:center;
  color: #202020;
}

.welcome {
  width: 300px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -150px;
  margin-top: -100px;

  h1{
    font-size: 48px;
    border-bottom: 6px solid #202020;
    padding-bottom: 20px;
    letter-spacing: 2px;
  }

  h2{
    letter-spacing: 10px;
  }

  .wrapper{

    width: 600px;
    margin-left: -150px;
    margin-top: 70px;

    .circle{
      height: 200px;
      width: 200px;
      border-radius: 100px;
      display: inline-block;

      &.bikes{
        background-color: #ff5b56;
        margin-right: 20px;
      }

      &.wheels{
        background-color: #67B6B9;
        margin-left: 20px;
      }

      a{
        display: block;
        color: white;
        font-size: 24px;
        line-height: 200px;
      }
    }
  }
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;

  .info{
    font-size: 12px;
    color: #d6d6d6;
    letter-spacing: 2px;
  }
}

a, a:visited {
  text-decoration:none;
}

h1 {
  font-size: 32px;
  margin: 16px 0 0 0;
}