@import url(//fonts.googleapis.com/css?family=Lato:700,400,300);

body {
  background-color: #fafafa;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: #202020;
  padding: 20px;
}
h1 {
  margin-top: 0;
}
.form-wrapper {
  width: 40%;
}
pre {
  overflow: auto;
  white-space: nowrap !important;
}
pre code {
  white-space: nowrap !important;
}
#jsontree {
  margin-top: 20px;
}
span.method {
  color: green;
  font-weight: 300;
  font-size: 24px;
}
footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
footer .info {
  font-size: 12px;
  color: #d6d6d6;
  letter-spacing: 2px;
}
